#
MVP + DI.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MVP + DI.xcodeproj/project.xcworkspace/xcuserdata/georg.xcuserdatad/UserInterfaceState.xcuserstate
MVP + DI.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MVP + DI.xcodeproj/xcuserdata/georg.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
